<div class="container clearfix">
    <div class="post_show_all">
        <h2 class="post_show_title"><%= @post.post_content %></h2>
        <% @post.categories.each do |category| %>
            <p>カテゴリー：<%= category.name %></p>
        <% end %>
    </div>
    <div>
        <h4></h4>
            <div id="comments_area">
            <%= render partial: 'comments/comment_create', locals: { comments: @comments } %>
        </div>
        <% if user_signed_in? %>
            <%= render partial: 'comments/comment_form', locals: { comment: @comment, post: @post } %>
        <% end %>
    </div>
</div>