
/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------session-----------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/* ログインフォーム全体の位置と枠線を指示しています */
.session_location{
	margin-top: 100px;
	margin-left: 410px;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 280px;
	text-align: center;
	border: 2px solid whitesmoke;
}

/* メールアドレス入力フォーム余白を指示しています */
.email_field{
	margin-top: 30px;
}

/* ログインボタンの余白を指示しています */
.login_button{
	margin-top: 15px;
}

/* ログインボタンのレイアウトを指示しています */
.login_button_link{
	width: 170px;
	height: 30px;
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: white;
}

/* ログインボタンのホバー時のレイアウトを指示しています */
.login_button_link :hover{
	width: 170px;
	height: 30px;
	background-color: #66b3ff;
	border-color: dodgerblue;
	color: white;
}

/* パスワード変更リンクの余白を指示しています */
.devise_shared_links{
	margin-top: 10px;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------registration------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/* サインインフォーム全体の位置と枠線を指示しています */
.registration_location{
	margin-top: 100px;
	margin-left: 410px;
	padding-top: 20px;
	padding-bottom: 30px;
	width: 280px;
	text-align: center;
	border: 2px solid whitesmoke;
}

/* ニックネームの入力フォーム余白を指示しています */
.name_field{
	margin-top: 30px;
}

/* サインインボタンの余白を指示しています */
.signin_button{
	margin-top: 15px;
}

/* サインインボタンのホバー時のレイアウトを指示しています */
.signin_button_link{
	width: 170px;
	height: 30px;
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: white;
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------forget_password---------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/

/* パスワード変更のリンクのレイアウトを指示しています */
.password_change_link{
	width: 220px;
	height: 30px;
	background-color: dodgerblue;
	border-color: dodgerblue;
	color: white;
}

